.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    h2 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 0.8rem;
    }

    .modal-logo {
        margin-bottom: 1rem;
    }

}

.modal-header {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.modal-close-screen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.modal-content {
    z-index: 3;
    position: absolute;
    width: 60vw;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 1px 1px 5px black;
    background-color: var(--color-2);
    
    i {
        color: var(--color-1);
    }
}

.modal-content.scroll {
    max-height: 80vh;
    overflow: auto;
}

.modal button {
    margin-top: 0.5rem;
}

.modal-talk {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    p {
        font-size: 1rem;
    }
}

.imgrow {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.imgcol {
    flex: 1 1 300px;
}

.modal-contact li {
    margin-bottom: 0.5rem;
}

.modal-img-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.1rem;

    i {
        cursor: pointer;
        font-size: 2rem;
    }

    img {
        width: 95%;
    }
}


.modal .modal-content .user-list {
    max-height: 25rem;
    overflow: auto;
}

.modal .modal-content .option-items {
    max-height: 25rem;
}

.modal .modal-content .modal-scroll-content {
    max-height: 50vh;
    overflow: auto;
}

.modal button {
    margin-top: 0.5rem;
}


.selected-items {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.selected-items .selected {
    padding: 1rem;
    background-color: var(--color-3);
    margin-top: 0.5rem;
}

.option-items .checked {
    padding: 1rem;
    background-color: var(--color-3);
    margin-top: 0.5rem;
}

.option-items>div {
    padding: 1rem;
    background-color: var(--color-2);
    margin-top: 0.5rem;
}

.assign-item-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
    border: 1px solid var(--color-3);
}

.assign-item-list .info {
    flex: 1;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.assign-item-list .info h3 {
    font-weight: bold;
}

.assign-item-list .info p span {
    font-weight: bold;
}

.assign-item-list.checked {
    background-color: var(--color-3);
}

.user-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    padding: 0.8rem;
    margin-top: 0.5rem;
}

.user-list-item .info {
    flex: 1;
}

.user-list-item .info h3 {
    font-weight: bold;
}

.user-list-item .info p span {
    font-weight: bold;
}

.user-list-item.checked {
    background-color: var(--color-3);
}

.user-list-item.selected {
    background-color: var(--color-3);
}